<nav class="dropdownmenu">
  <ul class="home-dropdown-list">
    <li class="home-dropdown-item"><a href="/home">Home</a></li>
    <li class="home-dropdown-item"><a href="">About Me</a></li>
    <li class="home-dropdown-item"><a href="#">Department</a>
      <ul class="home-dropdown-list" id="submenu">
        <li class="home-dropdown-item"><a href="#">Department 1</a></li>
        <li class="home-dropdown-item"><a href="#">Department 2</a></li>
        <li class="home-dropdown-item"><a href="#">Department 3</a></li>
      </ul>
    </li>
    <li class="home-dropdown-item"><a href="#">News</a></li>
    <li class="home-dropdown-item"><a href="#">Contact Us</a></li>
  </ul>
</nav>
