<nav class="dropdownmenu">
  <ul class="home-dropdown-list">
    <li class="home-dropdown-item"><a class="dropdownmenu-link" href="/home">Home</a></li>
    <li class="home-dropdown-item"><a class="dropdownmenu-link" href="">About Me</a></li>
    <li class="home-dropdown-item"><a class="dropdownmenu-link" href="#">Department</a>
      <ul class="home-dropdown-list" id="submenu">
        <li class="home-dropdown-item"><a class="dropdownmenu-link" href="#">Department 1</a></li>
        <li class="home-dropdown-item"><a class="dropdownmenu-link" href="#">Department 2</a></li>
        <li class="home-dropdown-item"><a class="dropdownmenu-link" href="#">Department 3</a></li>
      </ul>
    </li>
    <li class="home-dropdown-item"><a class="dropdownmenu-link" href="#">News</a></li>
    <li class="home-dropdown-item"><a class="dropdownmenu-link" href="#">Contact Us</a></li>
  </ul>
</nav>
