.footer-container {
  margin-top: 60px;
  padding: 10px 0;
  color: #A8A7A6;
  border: 1px solid #222;
}

.footer-top {
  text-align: center;
  font-size: 14px;
  display: flex;
}
.footer-top-left{
  width: 30%;
  padding: 20px;
  color: #A8A7A6;
  font-size: 15px;
}
.footer-top-title{
  color: #5882FA;
}
.footer-down {
  background-color: #5882FA;
  color: #FFFFFF;
  padding: 5px 10px;
  margin-bottom: 40px;
  text-align: center;
}

.footer-down-text {
  font-weight: 600;
}
