<article class="footer-container">
  <section class="footer-top">
    <section class="footer-top-left">
      Consequat lectus in tristique nisl nullam eleifend leo nunc non posuere nisi vehicula eget.

      Sed placerat aliquet ligula cras tortor nisl semper et feugiat rhoncus pretium nec est morbi id odio sollicitudin.
    </section>

    <section class="footer-top-left">
     <span class="footer-top-title">New Update </span>
      Consequat lectus in tristique nisl nullam eleifend leo nunc non posuere nisi vehicula eget.

      Sed placerat aliquet ligula cras tortor nisl semper et feugiat rhoncus pretium nec est morbi id odio sollicitudin.
    </section>
    <section class="footer-top-left">
      <span icon="fa fa-check"></span>
    </section>

  </section>

  <section class="footer-down">
    <p class="footer-down-text">Copyright © 2019 - All Rights Reserved - Care4you </p>
  </section>
</article>
