<app-carousel></app-carousel>
<article class="home-introduction">
  <p class="home-title"> Quienes somos? </p>
  <p class="home-title">Conocenos</p>
  <p>
    We are one of leading company in manufacturing & petro chemical products. We makes long-term investments goal in
    global companies in different sectors, mainly in Europe and other countries. We provide cost-effective industrial
    solutions
  </p>
  <section>
    <p>MISION</p>
    <p>Somos un aliado estratégico en prevención de riesgos para el sector empresarial, ofreciendo soluciones integrales
      en seguridad industrial y salud ocupacional que le permitan a nuestros clientes mejorar la calidad de vida laboral
      de sus trabajadores e incrementar su productividad, a través del desarrollo e implementación de sistemas de gestión
      y suministro de elementos necesarios para complementar la cultura de la seguridad por medio de una atención
      personalizada y confiable, teniendo como principal valor la experticia y calificación de nuestro equipo humano de
      trabajo.
    </p>
  </section>

  <section>
    <p>VISION</p>

    Ser la primera opción para el sector empresarial de la región en soluciones integrales en Seguridad Industrial y Salud
    Ocupacional, siendo reconocidos por el profesionalismo de nuestro equipo humano de trabajo y la calidad de nuestros
    productos, así como por nuestra contribución en la generación de ambientes laborales seguros, sanos y productivos.
  </section>


  <section>
    <p>VISION</p>

    Ser la primera opción para el sector empresarial de la región en soluciones integrales en Seguridad Industrial y Salud
    Ocupacional, siendo reconocidos por el profesionalismo de nuestro equipo humano de trabajo y la calidad de nuestros
    productos, así como por nuestra contribución en la generación de ambientes laborales seguros, sanos y productivos.
  </section>

</article>


